<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subir</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body background="/reosurces/img/imag4.jpg" >
<div class="container box">

    <form method="POST" action="/subir" class="card card-body">

        <div class="container box-content form-group col-12 col-sm-10" style="text-align: left">





            <div class="form-row">
                <div class="form-group col-sm">

                        <input type="file" >

                </div>













            </div>


</div>

        <input type="submit" value="Subir"class="btn btn-primary btn-lg btn-block" >


        <input type="button" class="btn btn-success btn-lg btn-block"value="Volver" name="B1" OnClick="location.href='http://d8696492c2b2.ngrok.io'">

    </form>
</div>
<script src="js/script.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.bundle.js"></script>

</body>

</html>
